{% extends "base.html" %}

{% block title %}Cadastros Básicos{% endblock %}

{% block content %}
<div class="dashboard-container" style="grid-template-columns: 1fr;">
    <div class="card">
        <h2 class="card-title">Opções em Breve</h2>
        
        <p style="font-size: 14px; color: var(--text-muted); line-height: 1.5;">
            Esta tela será destinada ao cadastro de <b>Motoristas</b>, <b>Betoneiras</b> e <b>Traços</b>. <br><br>
            Atualmente, o sistema foi carregado com os dados originais do Excel para você testar a emissão de notas.
        </p>
    </div>
</div>
{% endblock %}
